
*{
    box-sizing:border-box;
    font-family: 'Roboto Mono', monospace;

    


}
#directions{
    position: relative;
    top: -375px;
    left: 420px;
}
.ink-form{
    float:left;
    width: 50%;
    padding :10px;
    text-align: center;

}
.card-1{
    color: black;
}
h1{
    text-align: center;
    text-decoration:underline;
    color: white;
}
.text{
    color: white;
}

 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
        height: 375px;
        width: 400px;
    }

    /* Optional: Makes the sample page fill the window. */

body {
        height: 100%;
        margin: 0;
        padding: 10px;
        background-image: url("images/background\ image\ .jpg"); 
        color: black;

    }
    
    .card {
        width: 480px;
        margin-bottom: 24px;
        }

    img {
        width: 360px;
    } 
    
    .left {
        border-right: solid black 6px;
    }
    .jumbotron {
        border: solid black 6px;
        background-color: skyblue;
    }

    button {
        background-color: skyblue;
    }
    .big {
        font-size: 80px;

    }

